#title {
	font-weight: bold;
	color: #fff;
}

body {
	background: #f1f7fc;
}

.navigation-clean-search {
  background: #000000;
  padding-top: .75rem;
  padding-bottom: .75rem;
  color: #ffffff;
  border-radius: 0;
  box-shadow: none;
  border: none;
  margin-bottom: 0;
}

.nav-link {
	color: #ffffff;
}

.navigation-clean-button .navbar-text .action-button, .navigation-clean-button .navbar-text .action-button:active, .navigation-clean-button .navbar-text .action-button:hover {
  background: #56c6c6;
  border-radius: 20px;
  font-size: inherit;
  color: #fff;
  box-shadow: none;
  border: none;
  text-shadow: none;
  padding: .5rem 1rem;
  transition: background-color 0.25s;
  font-size: inherit;
}

.navigation-clean-button .navbar-text .action-button:hover {
  background: #66d7d7;
}

.btn .btn-light .action-button {
	background: #56c6c6;
	border-radius: 20px;
	font-size: inherit;
	color: #fff;
	box-shadow: none;
	border: none;
	text-shadow: none;
	padding: .5rem 1rem;
	transition: background-color 0.25s;
	font-size: inherit;
}

.btn .btn-light .action-button:hover {
	background: #66d7d7;
}




